@model TransportationService.Models.DriverModel
@{
    ViewBag.Title = "AddDriver";
}

<div id="modal" class="modal hide smallModal">
    @if (Model.UpdatingDriver)
    {
        <div class="modal-header">Update Driver</div>
    }
    else
    {
        <div class="modal-header">Add a New Driver</div>
    }
    <div class="modal-body" style="overflow-y: visible;">
        <label for="nameText">Name</label>
        <input id="nameText" type="text" placeholder="Enter driver's name" value="@Model.Name"/>

        <label for="licenseText">Driver's License</label>
        <input id="licenseText" type="text" placeholder="Enter driver's license" value="@Model.License" onkeypress="return licenseKeyPress(event);" onpaste="return false;" />
        
        <div class="bfh-selectbox bfh-states" data-country="US" data-state="CA">

            <label>State the Driver is Registered in</label>
            <select id="statesList">
                <option value="--State--">--State--</option>
                @for (int index = 0; index < 51; index++)
                {
                    if (Model.UpdatingDriver && Model.State.Equals(Model.StateAbbreviations[index]))
                    {
                    <option value="@Model.StateAbbreviations[index]" selected="selected">@Model.StateNames[index]</option>
                    }
                    else
                    {
                    <option value="@Model.StateAbbreviations[index]">@Model.StateNames[index]</option>
                    }
                }
            </select>
        </div>
        <div class="alert alert-error hide" id="driverFailureMessage">
            <div class="error-text">The driver's license, state combination already exists. Please enter a unique license, state combination.</div>
        </div>
    </div>
    <div class="modal-footer">
        @if (Model.UpdatingDriver)
        {
            <button class="btn btn-success" onclick="updateDriver(@Model.DriverId)">Save</button>
        }
        else
        {
            <button class="btn btn-success" onclick="addNewDriver(false)">Add Driver</button>
            <button class="btn btn-success" onclick="addNewDriver(true)">Add and Add Another</button>
        }
        <button class="btn" onclick="$('#modal').modal('hide')">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#driverSuccessModalMessage").hide();
        $("#driverFailureMessage").hide();
    });
</script>

