@model TransportationService.Models.EmployeeModel
@{
    ViewBag.Title = "AddEmployee";
}

<div id="modal" class="modal hide largeModal">
    <div class="modal-header">Add a New Employee</div>
    <div class="alert alert-error hide" id="employeeFailureMessage">
        <div class="error-text">The social security number already exists. Please enter a unique social security number.</div>
    </div>
    <div class="modal-body">
        <div class="two-column-modal-container">
            <label for="nameText">Name</label>
            @if (Model.UpdatingEmployee)
            {
                <input id="nameText" type="text" placeholder="Enter Name" value="@Model.Name" disabled />
            }
            else
            {
                <input id="nameText" type="text" placeholder="Enter Name" />
            }
            <label for="genderText">Gender</label>
            <div class="btn-group" data-toggle="buttons-radio">
                @if (Model.UpdatingEmployee)
                {
                    if (Model.IsMale)
                    {
                    <button type="button" class="btn btn-primary active" disabled id="isMale" title="Male">M</button>
                    <button type="button" class="btn btn-primary" disabled id="isFeMale" title="Female">F</button>
                    }
                    else
                    {
                    <button type="button" class="btn btn-primary" disabled id="isMale" title="Male">M</button>
                    <button type="button" class="btn btn-primary active" disabled id="isFeMale" title="Female">F</button>
                    }
                }
                else
                {
                    <button type="button" class="btn btn-primary active" id="isMale" title="Male">M</button>
                    <button type="button" class="btn btn-primary" id="isFeMale" title="Female">F</button>
                }
            </div>
            <label for="ssnText">Social Security Number</label>
            @if (Model.UpdatingEmployee)
            {
                <input id="ssnText" type="text" placeholder="Enter SSN" value="@Model.SocialSecurityNumber" disabled />
            }
            else
            {
                <input id="ssnText" type="text" placeholder="Enter SSN" onkeypress="return snnKeyPress(event);" onpaste="return false;" />
            }
            <label for="positionText">Position</label>
            <input id="positionText" type="text" placeholder="Enter Position" value="@Model.Position"/>
            <label for="emailText">Email</label>
            <input id="emailText" type="text" placeholder="Enter Email" value="@Model.Email"/>
            <label for="phoneText">Phone Number</label>
            <input id="phoneText" type="text" placeholder="Enter Phone Number" value="@Model.Phone" onkeypress="return phoneKeyPress(event);" onpaste="return false;" />
        </div>
        <div class="two-column-modal-container float-right">
            <label for="addressText">Address</label>
            <input id="addressText" type="text" placeholder="Enter Address" value="@Model.Address" />
            <label for="cityText">City</label>
            <input id="cityText" type="text" placeholder="Enter City" value="@Model.City"/>
            <div class="bfh-selectbox bfh-states" data-country="US" data-state="CA">
                <label>State</label>
                <select id="statesList">
                    <option value="--State--">--State--</option>
                    @for (int index = 0; index < 51; index++)
                    {
                        if (Model.UpdatingEmployee && Model.State.Equals(Model.StateAbbreviations[index]))
                        {
                        <option value="@Model.StateAbbreviations[index]" selected="selected">@Model.StateNames[index]</option>
                        }
                        else
                        {
                        <option value="@Model.StateAbbreviations[index]">@Model.StateNames[index]</option>
                        }
                    }
                </select>
            </div>
            <label for="zipText">Zip Code</label>
            @if (Model.UpdatingEmployee)
            {
                <input id="zipText" type="text" placeholder="Enter Zip Code" value="@Model.Zip" onkeypress="return zipKeyPress(event);" onpaste="return false;" />
            }
            else
            {
                <input id="zipText" type="text" placeholder="Enter Zip Code" onkeypress="return zipKeyPress(event);" onpaste="return false;" />
            }
            <label for="morningRouteList">Morning Route:</label>
            <select id="morningRouteList">
                @foreach (TransportationService.Utility.Route route in Model.AvailableRoutes)
                {
                    if(route.RouteId<500)
                    {
                        if (Model.UpdatingEmployee && Model.MorningAssignedTo == route.RouteId)
                        {
                        <option value="@route.RouteId" selected="selected">Route @route.RouteId (@route.Name )</option>
                        }
                        else
                        {
                        <option value="@route.RouteId">Route @route.RouteId (@route.Name )</option>
                        }
                    }
                }
            </select>
            <label for="eveningRouteList">Evening Route:</label>
            <select id="eveningRouteList">
                @foreach (TransportationService.Utility.Route route in Model.AvailableRoutes)
                {
                    if(route.RouteId>=500)
                    {
                        if (Model.UpdatingEmployee && Model.MorningAssignedTo == route.RouteId)
                        {
                        <option value="@route.RouteId" selected="selected">Route @route.RouteId (@route.Name )</option>
                        }
                        else
                        {
                        <option value="@route.RouteId">Route @route.RouteId (@route.Name )</option>
                        }
                    }
                }
            </select>
        </div>

    </div>
    <div class="modal-footer">
        @if (Model.UpdatingEmployee)
        {
            <button class="btn btn-success" onclick="updateEmployee(@Model.EmployeeId)">Save</button>
        }
        else
        {
            <button class="btn btn-success" onclick="addNewEmployee(false)">Add Employee</button>
            <button class="btn btn-success" onclick="addNewEmployee(true)">Add and Add Another</button>
        }
        <button class="btn" onclick="$('#modal').modal('hide')">Cancel</button>
    </div>
</div>
