@model TransportationService.Models.AddRouteModel
@{
    ViewBag.Title = "AddRoute";
}

<div id="modal" class="modal hide smallModal">
    <div class="modal-header">Add a New Route</div>
    <div class="modal-body" style="max-height: 600px; overflow: visible;">
        <div>
            <label for="routeNameText">Route Name:</label>
            <input id="routeNameText" type="text" placeholder="Enter Route Name" value="@Model.Name"/>
        </div>
        <div>
            <label for="driverList">Driver:</label>
            <select id="driverList">
                @foreach (TransportationService.Utility.Driver driver in Model.AvailableDrivers)
                {
                    if (driver.AssignedTo == -1)
                    {
                    <option value="@driver.DriverLicense">@driver.Name (License #: @driver.DriverLicense)</option>
                    }
                    else if (Model.UpdatingRoute && driver.AssignedTo == Model.Driver.AssignedTo)
                    {
                    <option value="@driver.DriverLicense" selected="selected">@driver.Name (License #: @driver.DriverLicense)</option>
                    }
                }
            </select>
        </div>
        <div>
            <label for="busList">Bus:</label>
            <select id="busList">
                @foreach (TransportationService.Utility.Bus bus in Model.AvailableBuses)
                {
                    if (bus.AssignedTo == -1 && bus.Status == 0)
                    {
                    <option value="@bus.BusId">Bus @bus.BusId (Capacity: @bus.Capacity, License: @bus.LicensePlate)</option>
                    }
                    else if (Model.UpdatingRoute && bus.AssignedTo == Model.Bus.AssignedTo)
                    {
                    <option value="@bus.BusId" selected="selected">Bus @bus.BusId (Capacity: @bus.Capacity, License: @bus.LicensePlate)</option>
                    }
                }
            </select>
            <div id="startsFromSection">
                <div>
                    Employees will be dropped off at <span id="destination-text">Work</span>
                </div>
                <div class="btn-group" data-toggle="buttons-radio">
                    @if (!Model.UpdatingRoute)
                    {
                        <button type="button" class="btn btn-primary icon-building active" id="toWorkButton" title="Work" onclick="$('#destination-text').text('Work');"></button>
                        <button type="button" class="btn btn-primary icon-home" id="toHomeButton" title="Home" onclick="$('#destination-text').text('Home');"></button>
                    }
                </div>
            </div>
        </div>
        <div id="stopSection">
            <label for="stops" style="font-weight: bold;">Stops:</label>
            <select id="stops" style="width: 85%">
                @foreach (TransportationService.Utility.Stop stop in Model.AvailableStops)
                {
                    if (!(Model.UpdatingRoute && Model.Stops.Contains(stop)))
                    {
                    <option onclick="addStop()" Value="@stop.StopId">Stop ID: @stop.StopId, @stop.Location</option>
                    }
                }
            </select>
            <a id="addStopButton" class="btn btn-info pull-right" onclick="addStop()">
                <i class="icon-white icon-plus" />
            </a>
            <br />
            <div style="width: 100%">
                <select size="4" id="selectedStops">
                    @if (Model.UpdatingRoute)
                    {
                        foreach (TransportationService.Utility.Stop stop in Model.Stops)
                        {
                        <option Value="@stop.StopId">Stop ID: @stop.StopId, @stop.Location</option>
                        }
                    }
                </select>
            </div>
            <div class="btn-group">
                <a class="btn btn-info" onclick="moveStopUp()">
                    <i class="icon-arrow-up icon-white" />
                </a>
                <a class="btn btn-info" onclick="moveStopDown()">
                    <i class="icon-arrow-down icon-white" />
                </a>
                <a class="btn btn-danger" onclick="removeStop()">
                    <i class="icon-remove icon-white" />
                </a>
            </div>
        </div>
        @*<div>
            <div id="added-stops">
                <div class="added-stop">Start</div>
            </div>
            <i class='added-stop icon-arrow-right'></i><i class="icon-flag"></i>
        </div>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Stops</a>
            <ul class="dropdown-menu">
                @foreach (TransportationService.Utility.Stop stop in Model.AvailableStops)
                {
                    if (!(Model.UpdatingRoute && Model.Stops.Contains(stop)))
                    {
                    <div class="dropdown-item" onclick="addStopToRoute(this)" data-stopId="@stop.StopId">Stop @stop.StopId, @stop.Location</div>
                    }
                }
            </ul>
        </div>*@
    </div>
    <div class="alert alert-error" id="routeFailureMessage">
        <div class="error-text">The route name already exists. Please enter a unique route name.</div>
    </div>
    <div class="modal-footer">
        @if (Model.UpdatingRoute)
        {
            <button class="btn btn-success" onclick="updateRoute(@Model.RouteId);">Save</button>
        }
        else
        {
            <button class="btn btn-success" onclick="addNewRoute();">Add Route</button>
        }
        <button class="btn" onclick="$('#modal').modal('hide')">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#routeSuccessModalMessage").hide();
        $("#routeFailureMessage").hide();
    });

</script>
