@model TransportationService.Models.CustomTable
@{
    Layout = null;
}

<table id="view-item-table" class="good-style">
    <thead>
        <tr style="border-bottom: 1px solid black; padding: 5px;">
            @foreach (var header in Model.Headers)
            {
                <th style="font-weight: bold; padding: 7px 0px;">@header<i class=" no-opacity"></i></th>
            }
            @if (Model.Rows.Any() && Model.Rows.First().ModifyCall != "")
            {
                <th style="font-weight: bold; padding: 7px 0px;">Modify</th>
            }
            <th style="font-weight: bold; padding: 7px 0px;">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr id="view-tr-@row.ObjectId" data-id="@row.ObjectId">
                @foreach (var col in row.Columns)
                {
                    <td>@col</td>
                }
                @if (row.ModifyCall != "")
                {
                    <td style="cursor:pointer;" onclick="@row.ModifyCall"><i class="icon-pencil"></i></td>
                }
                <td style="cursor:pointer;" onclick="@row.DeleteCall"><i class="icon-trash"></i></td>
            </tr>
        }
    </tbody>
</table>
