@model TransportationService.Models.ViewRouteModel
@{
    ViewBag.Title = "ViewRouteView";
}

<div>
    <b>The name of the route is:</b>
    <div class="item-info" data-type="name">@Model.Name</div>
</div>
<div>
    <b>The bus's license plate is:</b>
    <div class="item-info" data-type="licensePlate">@Model.LicensePlate</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.DriverName</div>
</div>
<div>
    <div class="added-stops" data-type="stops">
        <label style="font-weight: bold">Stops:</label>
        @foreach (TransportationService.Utility.Stop stop in @Model.Stops)
        {
            <div>Stop ID#: @stop.StopId (@stop.Location)</div>
        }
        @*<div class="added-stop">Start</div>
        <i class="added-stop icon-arrow-right"></i>
        @foreach (TransportationService.Utility.Stop stop in @Model.Stops)
        {
            <div class="added-stop">@stop.StopId</div>
            <i class="added-stop icon-arrow-right"></i>
        }
        @if (int.Parse(Model.RouteId) < 500)
        {
            <i class="icon-building" />
        }
        else
        {
            <i class="icon-home" />
        }*@
    </div>
</div>
<div>
    <button class="btn btn-primary" onclick="modifyRoute(@Model.RouteId)">Modify Employee</button>
    <button class="btn btn-danger" onclick="removeRoute()">Remove Employee</button>
</div>
