@model TransportationService.Models.ViewBusModel
@{
    ViewBag.Title = "ViewBusView";
}

<div>
    The status of the bus is:
    <div class="item-info" data-type="status">@Model.Status</div>
</div>
<div>
    The license plate is registered in:
    <div class="item-info" data-type="state">@Model.State</div>
</div>
<div>
    The license plate is:
    <div class="item-info" data-type="licensePlate">@Model.LicensePlate</div>
</div>
<div>
    The capacity of the bus is:
    <div class="item-info" data-type="capacity">@Model.Capacity</div>
</div>
<div>
    The identification number of the bus is:
    <div class="item-info" data-type="ID">@Model.BusId</div>
</div>
@if (Model.RouteName != "")
{
    <div>
        The route the bus is assigned to is:
    <div class="item-info" data-type="routeName">@Model.RouteName</div>
    </div>
}

<div>
    <button class="btn btn-primary" onclick="modifyBus(@Model.BusId)">Modify Bus</button>
    <button class="btn btn-danger" onclick="removeBus(@Model.BusId)">Remove Bus</button>
</div>