@model TransportationService.Models.ViewRouteModel
@{
    ViewBag.Title = "ViewBusView";
}

<div>
    The name of the route is:
    <div class="item-info">@Model.Name</div>
</div>
<div>
    The bus's license plate is:
    <div class="item-info">@Model.LicensePlate</div>
</div>
<div>
    The driver of the route's name is:
    <div class="item-info">@Model.DriverName</div>
</div>
<div>
    <div class="added-stops">
        <div class="added-stop">Start</div>
        <i class="added-stop icon-arrow-right"></i>
        @foreach (TransportationService.Utility.Stop stop in @Model.Stops)
        {
            <div class="added-stop">@stop.StopId</div>
            <i class="added-stop icon-arrow-right"></i>
        }
        <i class="icon-flag"></i>
    </div>
</div>
<div>
    <button class="btn btn-primary" onclick="modifyRoute()">Modify Route</button>
    @*<button class="btn btn-danger" onclick="removeRoute()">Remove Route</button>*@
</div>
