@model TransportationService.Models.ViewEmployeeModel
@{
    ViewBag.Title = "ViewRouteView";
}

<div>
    <b>The Employee's name is:</b>
    <div class="item-info" data-type="name">@Model.Name</div>
</div>
<div>
    <b>The bus's license plate is:</b>
    <div class="item-info" data-type="licensePlate">@Model.Gender</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.SSN</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.Position</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.Email</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.Number</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.Address</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.City</div>
</div>
<div>
    <b>The driver of the route's name is:</b>
    <div class="item-info" data-type="driverName">@Model.State</div>
</div>
@if (Model.RouteName != "")
{
    <div>
        The route the bus is assigned to is:
    <div class="item-info" data-type="routeName">@Model.RouteName</div>
    </div>
}
<div>
    <button class="btn btn-primary" onclick="modifyEmployee(@Model.Id)">Modify Employee</button>
    <button class="btn btn-danger" onclick="removeEmployee()">Remove Employee</button>
</div>
